@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

.rdrDefinedRangesWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .rdrDefinedRangesWrapper {
    display: inline-block;
  }
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100%;
}
